<!DOCTYPE html>
<html>
<head>
  <title>Menu</title>
</head>
<body>
  <h1>Menu</h1>
  <ul>
    <% items.forEach(item => { %>
      <li>
        <strong><%= item.name %></strong> - $<%= item.price %><br>
        <form action="/orders" method="POST">
          <input type="hidden" name="item_id" value="<%= item._id %>">
          Quantity: <input name="quantity" type="number" value="1" min="1">
          <% if (userId) { %>
            <button type="submit">Order</button>
          <% } else { %>
            <a href="/login">Login to order</a>
          <% } %>
        </form>
      </li>
    <% }); %>
  </ul>
  <a href="/orders">View My Orders</a>
</body>
</html>
