<!DOCTYPE html>
<html>
<head>
  <title>My Orders</title>
</head>
<body>
  <h1>My Orders</h1>
  <ul>
    <% orders.forEach(order => { %>
      <li>
        Order ID: <%= order._id %><br>
        Total: $<%= order.total %><br>
        Status: <%= order.status %><br>
        <hr>
      </li>
    <% }); %>
  </ul>
  <a href="/menu">Back to Menu</a>
</body>
</html>
